@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.background {
  background-image: url("https://img5.goodfon.com/wallpaper/nbig/e/9b/alena-aenami-by-alena-aenami-the-way-you-are-mrsuicidesheep.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.pageDiv{
  display: flex;
  flex-direction: column;
  top: 0;
}

.background1 {
  background-image: url("https://images.unsplash.com/photo-1589879183601-8ff3572a4e5b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=944&q=80");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button1 {
  color: white;
  font-size: 44px;
  background-color: transparent;
  border: 2px solid white;

}

.text1{
  color: #fdf9fd;
  font: 40px/1.25 'Raleway', sans-serif;
  text-align: center;
  font-weight: bold;
  text-shadow: #0f1923;
  border: #0f1923;
}

.text2{
  font-weight: 500;
  font-size: 3vw;
  color: white;
  text-align: center;
  font-family: 'Bellefair', serif;
}

.textBoundary{
  wrap-option: wrap;
  top: -10%;
  width: 70%;
  height: 15%;
  /*border: 3px solid blue;*/
  border-left:1em solid transparent;
  border-right:1em solid transparent;
  text-overflow: ellipsis;
  padding-bottom: 95px;
  padding-top: 14%;
}

#btn {
  background: #222;
  height: 50px;
  min-width: 150px;
  border: none;
  width: 100px;
  border-radius: 10px;
  color: #eee;
  font-size: 40px;
  font-family: 'Cookie', cursive;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width: 150px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
